*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
body{
	background-color: #FFFFF0;
}
header, section, footer, aside, nav, article{
	display: block;
}
.wrapper{
	width: 1200px;
	margin: 5px auto;
}
/*header =====================================*/
.header h1{
	background-position: center;
	font-family: Tahoma, sans-serif;
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	font-size: 80px;
	text-align: left;
	padding: 40px 0px 190px 100px;
}

/*this is the menu bar =====================================*/
.menu{
	background-color: black;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
	list-style: none;
	height: 50px;
	border-bottom: solid #FF4500 4px;
}
.menu li{
	display: inline-block;
	padding: 15px 15px 10px;
}
.links{
	color: white;
	font-size: 20px;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.menu li:hover{
	border-bottom: solid #FF4500 2px;
	background-color: #FF4500;
}
a:active{
	color: black;
}
/*this is main section =====================================*/
.container{
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	margin: 10px;
	padding: 10px;
}
#main{
	display:-webkit-box;
	-webkit-box-orient: horizontal;
}
.article{
	border-radius: 10px;
	background-color: #FFFFF0;
	padding: 20px;
	margin: 10px auto;
	box-shadow: 7px 7px 7px #DCDCDC;
}
.article h1{
	border-bottom: solid #808080 1px;
}
#aside{
	border-radius: 10px;
	width: 250px;
	margin: 25px 20px 20px 0px;

}
.aside_news{
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 7px 7px 7px #DCDCDC;
}
.aside_news h2{
	padding: 7px;
}
#aside img{
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;
}
#aside video{
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;
	border-radius: 10px;
}
h1{
	font-size: 30px;
}
.postAuthor{
	float: right;
	font-size: 10px;
}
#photos{
	display:-webkit-box;
	-webkit-box-orient: vertical;
	width: 100%;
	height: 100%;
}
#movies{
	height: 1000px;
	width: 1000px;
}
/*This is table =====================================*/
table thead{
	background-color: #FF4500;
	font-size: 20px;
	border-radius: 10px;
}
table td{
	text-align: center;
	padding: 5px;
	border: solid #FF4500 0px;
}
p{
	font-style: Tahoma, sans-serif;
}

/*footer =====================================*/
footer{
	background-color: black;
	padding: 30px 10px;
	border-top: 5px solid white;
	color: white;
	font-size: 10px;
	font-style: italic;
	width: 100%;
	text-align: center;
}

footer ul li{
	display: inline;
}